.pio
.idea
.vscode
*arduino_secrets.h
*/arduino_secrets.h
*arduino_secrets.cpp
*/arduino_secrets.cpp
*scratchpad.md
*/scratchpad.md
data/configuration.json
/data_build/*
/cmake-*/
CMakeLists.txt
CMakeListsPrivate.txt
