#include <arduino_secrets.h>

//WiFi SSID to connect to
char SECRET_SSID[] = "SSID";
//Password for the wifi network
char SECRET_PASS[] = "PASS";

//MQTT Server Address
char mqttSERVER[] = "IP";
//MQTT Server User
char mqttUSERNAME[] = "USER";
//MQTT Server Password
char mqttPASSWORD[] = "PASS";